{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SAC{% endblock %}

{% block page_content %}
  <div class="page-header">
      <h1>Relatório de Auditoria</h1>
      {% if not exibir_form %}
        <button type="button" class="btn btn-primary">Imprimir</button>
      {% endif %}
  </div>
  {% if exibir_form %}
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
  {% else %}
  <div class="col-md-12">
    <br>
    <table class="table table-bordered">
      <thead>
      <tr>
        {% for chave in dados[0] %}
         <th>{{ chave }}</th>
        {% endfor %}

      </tr>
    </thead>
    <tbody>

          {% for dado in dados %}
          <tr>
            {% for chave in dado %}
              <td>{{ dado[chave] }}</td>
            {% endfor %}
          </tr>
          {% endfor %}


    </tbody>

    </table>
  </div>
  {% endif %}
{% endblock %}
