{% extends "base.html" %}
{% block title %}SAC{% endblock %}

{% block page_content %}
  <div class="page-header">
      <h1>{{ titulo }}</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form method="post" class="form" role="form">
         {{ form.csrf_token }}
         <div class="form-group ">
             {{ form.dia.label }}
             {{ form.dia }}
         </div>
        <div class="form-group ">
           {{ form.horario.label }}
           {{ form.horario }}
        </div>
       <input class="btn btn-default" id="submit" name="submit" type="submit" value="Voltar">
       <input class="btn btn-default" id="submit" name="submit" type="submit" value="Adicionar">
        {{ form.submit}}
   </div>
  </div>


   <div class="row">
     <div class="page-header">
         <h1>Ofertas Ciencias da Computação - Bacharelado - Semestre: 2016.2</h1>
     </div>
     <div class="col-md-12">
       <table class="table table-bordered">
         <thead>
         <tr>
           <th>Periodo</th>
           <th>Disciplina</th>
           <th>Fluxo</th>
           <th>Turma</th>
           <th>CH</th>
           <th>Vagas</th>
           <th>Professor</th>
           <th>Sala</th>
           <th>Horário</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>1o</td>
           <td>Engenharia de Software</td>
           <td>2012.1</td>
           <td>1</td>
           <td>60</td>
           <td>40</td>
           <td>Thales</td>
           <td>39</td>
           <td></td>
         </tr>
       </tbody>
    </div>
   </div>
 

{% endblock %}
