{% extends "base.html" %}

{% block title %}SAC{% endblock %}

{% block page_content %}
<div class="page-header">

    <div class="jumbotron">
      <h2>Bem-vindo ao SAC - Sistema de Apóio à Coordenção</h2>
      <ul>
        {% if lotacoes %}

          {% for lotacao in lotacoes %}
             <li><a href="{{ url_for('main.editar_lotacao', id_da_lotacao=lotacao.id) }}"><span>Lotação </span>{{ lotacao.semestre }} - {{ lotacao.situacao }}</a></li>
          {% endfor %}

          {% if solicitacoes_pendentes %}

             <li><a href="{{ url_for('main.aprovar_solcitacao') }}">Existem solcitação pendentes de aprovação</a></li>
          {% endif %}

        {% else %}
          <li>Sem avisos!</li>
        {% endif %}
      </ul>
    </div>
</div>
{% endblock %}
