{% extends "base.html" %}

{% block title %}SAC{% endblock %}

{% block page_content %}
  <div class="page-header">
      <h1>Relatório de Disciplinas</h1> <button type="button" class="btn btn-primary">Imprimir</button>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Coordenação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Computação</td>

      </tr>
      <tr>
        <td>Engenharia de Software</td>

      </tr>
      <tr>
        <td>Engenharia de Software</td>

      </tr>
      <tr>
        <td>Engenharia de Software</td>
        <td>80</td>
        <td>2016.1</td>
      </tr>

    </tbody>

    </table>
  </div>

{% endblock %}
