{% extends "base.html" %}

{% block title %}SAC{% endblock %}

{% block page_content %}
  <div class="page-header">
      <h1>Professores Cedidos</h1> <button type="button" class="btn btn-primary">Imprimir</button>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Professor</th>
        <th>Coordenação</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Thales Damasceno de Andrade</td>
        <td>Administração</td>

      </tr>
      <tr>
        <td>Plácido Marinho Dias</td>
        <td>Administração</td>

      </tr>
      <tr>
        <td>Nicolas Almeida Martins</td>
        <td>Matemática</td>

      </tr>
      <tr>
        <td>Lorena Pereira da Ponte Pierre</td>
        <td>Engenharia</td>
        
      </tr>

    </tbody>

    </table>
  </div>

{% endblock %}
