{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SAC{% endblock %}

{% block page_content %}
  {% if exibir_form %}
  <div class="page-header">

      <h1>Relatório Lotação</h1>
  </div>
  <div class="col-md-4">

    <form method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group ">
           {{ form.tipo.label(class_="control-label") }}
           <!-- <label class="control-label" for="email">Email</label> -->
           {{ form.tipo(class_="form-control") }}
          <!-- <input class="form-control" id="email" name="email" type="text" value=""> -->
        </div>
        <div class="form-group hidden">
           {{ form.periodo.label(class_="control-label") }}
           <!-- <label class="control-label" for="email">Email</label> -->
           {{ form.periodo(class_="form-control") }}
          <!-- <input class="form-control" id="email" name="email" type="text" value=""> -->
        </div>
        <div class="form-group hidden">
           {{ form.diaSemana.label(class_="control-label") }}
           <!-- <label class="control-label" for="email">Email</label> -->
           {{ form.diaSemana(class_="form-control") }}
          <!-- <input class="form-control" id="email" name="email" type="text" value=""> -->
        </div>
        <div class="form-group hidden">
           {{ form.turno.label(class_="control-label") }}
           <!-- <label class="control-label" for="email">Email</label> -->
           {{ form.turno(class_="form-control") }}
          <!-- <input class="form-control" id="email" name="email" type="text" value=""> -->
        </div>
        {{ form.submit(class_="btn btn-default") }}
      <!-- <input class="btn btn-default" id="submit" name="submit" type="submit" value="Gerar Relatório"> -->


    </form>
    {% else %}
    <div class="page-header">

        <h1>Relatório Lotação {{ msg }} - {{ msg2 }}</h1><button type="button" class="btn btn-primary">Imprimir</button>
    </div>
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Periodo</th>
              <th>Disciplina</th>
              <th>Fluxo</th>
              <th>Turma</th>
              <th>Turno</th>
              <th>CH</th>
              <th>Aulas</th>
              <th>Semanas</th>
              <th>Horário</th>
              <th>Vagas</th>
              <th>Sala</th>
              <th>Professor</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>
            <tr>
              <td>1o</td>
              <td>Engenharia de Software</td>
              <td>2012.1</td>
              <td>1</td>
              <td>INT.</td>
              <td>60</td>
              <td>4</td>
              <td>18</td>
              <td>5IJKL</td>
              <td>40</td>
              <td>39</td>
              <td>Thales Damasceno de Andrade</td>

            </tr>

          </tbody>

          </table>
        </div>


    {% endif %}

  </div>

{% endblock %}
